*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Delicious Handrawn', cursive;
}

body{
    background-color: dodgerblue;
}

h1{
    text-align: center;
    margin: 20px auto;
    font-size: 65px;
    color: gold;

}

.button-panel{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 90%;
    height: 50px;
    margin: 20px auto;

}

.button-panel img{
    width: 50px;
}

.button-panel button{
    cursor: pointer;
    flex: 0 0 40%;
    height: 80%;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: beige;
}

.button-panel button:hover{
    background-color: white;
    border: 2px solid darkblue;
    color: darkblue;
}

.main-container{
    padding: 10px 20px;
}
.middle-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.board-grid{
    position: relative;
    padding: 20px 40px 40px 50px;
    border: thin solid black;
    background: linear-gradient(yellow,orange);
    width: 500px;
    height: 450px;
    border-radius: 20px;

    flex-grow: 0;
    flex-shrink: 0;

    display: grid;
    grid-template: repeat(6, 1fr) / repeat(7, 1fr);
    gap: 10px;
}

.board-grid div:not(.player-turn-indicator){
   
    background-color: white;
    border-radius: 50%;
}

.player-turn-indicator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    padding: 10px 20px;
    background: url("./img/button_display.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;

    width: 250px;
    height: 120px;

    position: absolute;
    left: 25%;
    bottom: -90px;
}

.player-turn-indicator > :first-child{
    font-size: 20px;
    margin-top: -60px;
    margin-bottom: -10px;
    
}
.player-turn-indicator > :last-child{
    font-size: 25px;
}


.player-score-container{
    color: white;
    flex-grow: 1;
    padding: 50px 50px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    justify-content: center;
}

.player-score-container > :first-child{
    font-size: 30px;
    
}

.player-score-container > :last-child{
    
}
.player1-score-container{
    background-color: red;
}

.player2-score-container{
    background-color: blue;
}


.player-score{
    font-size: 60px;
}


@media all and (max-width: 700px){
    .middle-container{
        flex-wrap: wrap;
    }

    .player-score-container{
        width: 80px;
        height: 120px;
    }
    .board-grid{
        order: 2;
        margin: 0 auto;
        width: 450px;
        height: 420px;

    }
}